.app {
  height: 100vh;
  padding: 2.4rem;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
}

@media (width < 900px) {
  .app {
    display: flex;
    flex-direction: column-reverse;
  }
}
