.login {
  height: calc(100vh - 5rem);
  background-color: var(--color-dark--1);
  margin: 2.5rem 2.5rem;
  padding: 2.5rem 2.5rem;
  overflow: hidden;
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Different from other form */
  width: 48rem;
  margin: 24rem auto;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
